{% extends 'base.html.twig' %}

{% block title %}Topic index{% endblock %}

{% block body %}
{# https://tailwindcomponents.com/component/projects-table #}
<div class="overflow-x-auto">
        <div class="min-w-screen min-h-screen bg-gray-100 flex justify-center bg-gray-100 font-sans overflow-hidden">
            <div class="w-full lg:w-5/6">
                <h1 class="w-full font-bold text-2xl my-2">Topics</h1>
                <a href="{{ path('topic_new') }}" class="w-full bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200 px-2">Create new</a>
                <div class="bg-white shadow-md rounded my-6">
                    <table class="w-full table-auto">
                        <thead>
                            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                                <th class="py-3 px-6 text-left w-1/12">Id</th>
                                <th class="py-3 px-6 text-left w-2/12">Titre</th>
                                <th class="py-3 px-6 text-center w-4/12">Description</th>
                                <th class="py-3 px-6 text-center w-1/12">Date De Création</th>
                                <th class="py-3 px-6 text-center w-1/12">Commentaires</th>
                                <th class="py-3 px-6 text-center w-2/12">Auteur</th>
                                <th class="py-3 px-6 text-center w-1/12">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-600 text-sm font-light w-full">
                            {% for topic in topics %}
                                <tr class="border-b border-gray-200 hover:bg-gray-100 w-full">
                                    <td class="py-3 px-6 text-left w-1/12">
                                        <div class="flex items-center">
                                            <span class="font-medium">{{ topic.id }}</span>
                                        </div>
                                    </td>
                                    <td class="py-3 px-6 text-left w-2/12">
                                        <div class="flex items-center">
                                            <span>{{ topic.title }}</span>
                                        </div>
                                    </td>
                                    <td class="py-3 px-6 text-left w-4/12">
                                        <div class="flex items-center">
                                            <span class="font-medium">{{ topic.description }}</span>
                                        </div>
                                    </td>
                                    <td class="py-3 px-6 text-left w-1/12 whitespace-nowrap">
                                        <div class="flex items-center">
                                            <span class="font-medium">{{ topic.createdAt ? topic.createdAt|ago : '' }}</span>
                                        </div>
                                    </td>
                                    <td class="py-3 px-6 text-left w-1/12 whitespace-nowrap">
                                        <div class="flex items-center">
                                            <span class="font-medium">{{ topic.comments|length }} commentaire(s)</span>
                                        </div>
                                    </td>
                                    <td class="py-3 px-6 text-center w-2/12">
                                        <span class="bg-purple-200 text-purple-600 py-1 px-3 rounded-full text-xs">{{ topic.autor.firstName }} {{ topic.autor.lastName }}</span>
                                    </td>
                                    <td class="py-3 px-6 text-center w-1/12">
                                        <div class="flex item-center justify-center">
                                            <a href="{{ path('topic_show', {'id': topic.id}) }}">                                        
                                                <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                                    </svg>
                                                </div>
                                            </a>
                                            {% if app.user and topic.autor.id == app.user.id %}
                                                <a href="{{ path('topic_edit', {'id': topic.id}) }}">                                        
                                                    <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                        </svg>
                                                    </div>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr class="border-b border-gray-200 hover:bg-gray-100">
                                    <td colspan="5">no records found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
