{% extends 'base.html.twig' %}

{% block title %}Topic{% endblock %}

{% block body %}
    <h1>Topic</h1>
    <a href="{{ path('topic_index') }}">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="15" height="15" viewBox="0 0 447.243 447.243" style="enable-background:new 0 0 447.243 447.243;" xml:space="preserve" class="inline text-red-700">
            <g>
                <g>
                    <path d="M420.361,192.229c-1.83-0.297-3.682-0.434-5.535-0.41H99.305l6.88-3.2c6.725-3.183,12.843-7.515,18.08-12.8l88.48-88.48    c11.653-11.124,13.611-29.019,4.64-42.4c-10.441-14.259-30.464-17.355-44.724-6.914c-1.152,0.844-2.247,1.764-3.276,2.754    l-160,160C-3.119,213.269-3.13,233.53,9.36,246.034c0.008,0.008,0.017,0.017,0.025,0.025l160,160    c12.514,12.479,32.775,12.451,45.255-0.063c0.982-0.985,1.899-2.033,2.745-3.137c8.971-13.381,7.013-31.276-4.64-42.4    l-88.32-88.64c-4.695-4.7-10.093-8.641-16-11.68l-9.6-4.32h314.24c16.347,0.607,30.689-10.812,33.76-26.88    C449.654,211.494,437.806,195.059,420.361,192.229z"/>
                </g>
            </g>
        </svg> 
        back to list
    </a>

    <a href="{{ path('topic_edit', {'id': topic.id}) }}">edit</a>

    {{ include('topic/_delete_form.html.twig') }}


{# https://tailwindcomponents.com/component/facebook-comments-column #}
<div x-data="{ open1: false, open2: false }">
  <div class="bg-gray-100 grid grid-cols-1 md:grid-cols-3 py-4">
    <div class="w-full sm:max-w-7xl h-auto px-3 py-2 flex flex-col space-y-2">

        <table class="border-collapse border border-green-800">
            <tbody>
                <tr class="align-top text-left">
                    <th class="border border-gray-200 p-2">Title</th>
                    <td class="border border-gray-200 p-2">{{ topic.title }}</td>
                </tr>
                <tr class="align-top text-left">
                    <th class="border border-gray-200 p-2">Description</th>
                    <td class="border border-gray-200 p-2">{{ topic.description }}</td>
                </tr>
                <tr class="align-top text-left whitespace-nowrap">
                    <th class="border border-gray-200 p-2">Date de création</th>
                    <td class="border border-gray-200 p-2">{{ topic.createdAt ? topic.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>
    
    </div>
    
    <div class="bg-white items-start w-full sm:max-w-7xl sm:w-2/3 col-span-2 h-auto shadow px-3 py-2 flex flex-col space-y-2">

        {% for comment in topic.comments %}
            {% if not comment.parent %}       
                <div class="flex items-start space-x-2">
                    <div class="flex justify-start space-x-2">
                        <div class="block">
                            <div class="flex justify-start space-x-2">
                                <div class="bg-gray-100 w-auto rounded-xl px-2 pb-2">
                                    <div class="font-medium">
                                        <a href="#" class="hover:underline text-sm font-bold">
                                            <small>{{ comment.autor.firstName }} {{ comment.autor.lastName }}</small>
                                        </a>
                                    </div>
                                    <div class="text-xs">
                                        {{ comment.content }}
                                    </div>
                                    </div>
                            </div>
                            <div class="flex justify-start text-xs w-full">
                                <div class="font-semibold text-gray-700 px-2 flex items-start justify-center space-x-1">
                                    <a href="#" class="hover:underline">
                                    <small>{{ comment.createdAt|ago }}</small>
                                    </a>
                                </div>
                            </div>

                            <!-- Subcomment Sample -->
                            <div class="ml-10 flex flex-col items-start space-x-2 space-y-2">

                                {% for subcomment in comment.comments %}                            
                                    <div class="flex items-start justify-start space-x-2">
                                        <div class="block">
                                        <div class="bg-gray-100 w-auto rounded-xl px-2 pb-2">
                                            <div class="font-medium">
                                            <a href="#" class="hover:underline text-sm font-bold">
                                                <small>{{ subcomment.autor.firstName }} {{ subcomment.autor.lastName }}</small>
                                            </a>
                                            </div>
                                            <div class="text-xs">
                                                {{ subcomment.content }}
                                            </div>
                                        </div>
                                        <div class="flex justify-start items-start text-xs w-full">
                                            <div class="font-semibold text-gray-700 px-2 flex items-start justify-center space-x-1">
                                            <a href="#" class="hover:underline">
                                                <small>{{ subcomment.createdAt|ago }}</small>
                                            </a>
                                            </div>
                                        </div>
                                        </div>

                                    </div>
                                    
                                {% endfor %}
                                {% include 'topic/_comment.html.twig' with {'topic': topic,'parent': comment.id} %}

                            </div>

                        </div>
                    </div>
                </div>            
            {% endif %}
        {% endfor %}

        {% include 'topic/_comment.html.twig' with {'topic': topic,'parent': null} %}

      
    </div>
    
  </div>
</div>

{% endblock %}
